<!-- HEADER VERSION ... (MOYENS FORMATS: SM, MD) *** EN TEST -->
<header id="medium-header" class ="medium-header d-none d-sm-block col-sm-12 d-lg-none"><!-- class ="row" -->

    <section class="medium-wrapper" id="wrapper">
    

        <div class="row">

            <div class="col-12">
    
                <div class="row">
                    <div class="col-12">
                        <h2 class="medium-main_title_big">DATA.VIZ</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 offset-10 col-sm-2 offset-sm-9 col-sm-3 align-self-end">
                        <h2 class="medium-main_title_little">fish</h2>
                    </div>
                </div>
    
                <div class="row">
                    <nav class="col-11 medium-header_menu nav-fill navbar navbar-expand-xl navbar-light"><!-- bg-dark -->

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- <a class="navbar-brand" href="/main#wrapper">Navbar</a> -->
                        <div class="col-10 col-sm-11 collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                            <ul class="navbar-nav text-center">
                            <li>
                                <a class="nav-link text-light btn-outline-info" href="/main#fishing-data">STATISTIQUES DE PÊCHE</a>
                            </li>
                            <!-- <li><a href="#news">NEWS</a></li> -->
                            <li>
                                <a class="nav-link text-light btn-outline-info" href="/main#medium-about">A PROPOS</a>
                            </li> 
                            <!-- <li><a href="#contact">CONTACT</a></li> -->
                            </ul>
                        </div>

                    </nav>
                </div>
    
                <div class="row">
                    <div class="col-8 align-self-center">
                        <p class="medium-tagline">Promotion and communication<br>of fishing datas</p>
                    </div>
                </div>
    
            </div>
    
    
            <div class="col-12 align-self-center">
                <h4 class="medium-main_logo">FISHING STATISTICS</h4>
            </div>

        </div>

    
    </section>
    
</header>