<div class="table_container table-responsive-sm">

  <h2 class="table_title">Liste des membres</h2>
  
  <br /><br />

  <form [formGroup]="modificationForm">
      
    <table class="table table-sm table-hover table-dark">
    
      <thead>
     
        <tr style="text-align: center;">
          <th colspan="4">
            <span width="200"><button *ngIf="showDataUpdate" type="submit" (click)="onUpdateList()" class="btn btn-outline-success">Mettre à jour les données</button></span>
            <span width="200"><button *ngIf="editUser!==undefined && showPreUpdateUserButton" type="submit" (click)="onPreUpdate();" class="btn btn-warning" [disabled]="modificationForm.invalid">Mettre à jour le membre</button></span>
            <span width="200"><button *ngIf="editUser!==undefined && showUpdateUserButton" type="submit" (click)="onUpdateMember();" class="btn btn-success" [disabled]="modificationForm.invalid">Confirmer la modification</button></span>
            <span width="200"><button *ngIf="editUser!==undefined && showCancelButton" type="submit" (click)="onResetAction();" class="btn btn-dark">Annuler</button></span>
          </th>
        </tr>

        <tr style="text-align: center;">
          <td width="200">id_user</td>
          <td width="200">login</td>
          <td width="200">mail</td>
          <td width="200">Supprimer un membre</td>
        </tr>

      </thead>
      
      <tbody *ngFor="let user of users;">
        <tr>

          <td width="200">
            <span>{{user.id_user}}</span>
          </td>

          <td width="200" (click)="onEdit(user)">
            <span *ngIf="editUser!==user">{{user.login}}</span>
            <input matInput *ngIf="user===editUser" formControlName="login" type="text" placeholder="{{user.login}}" aria-label="Number" [formControl]="login" [matAutocomplete]="autoLogin" #userLogin required>
              <mat-autocomplete #autoLogin="matAutocomplete">
              <mat-option *ngFor="let login of loginFilteredOptions | async" [value]="login">{{ login }}</mat-option>
              </mat-autocomplete>
          </td>

          <td width="200" (click)="onEdit(user)">
            <span *ngIf="editUser!==user">{{user.mail}}</span>
            <input matInput *ngIf="user===editUser" formControlName="mail" type="text" placeholder="{{user.mail}}" aria-label="Number" [formControl]="mail" [matAutocomplete]="autoMail" #userMail required>
              <mat-autocomplete #autoMail="matAutocomplete">
              <mat-option *ngFor="let mail of mailFilteredOptions | async" [value]="mail">{{ mail }}</mat-option>
              </mat-autocomplete>
          </td>

          <td width="200">
            <button class="delete" title="delete user" (click)="onPreDelete(user)">
              <svg class="bi bi-x-circle" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </td>

        </tr>

      </tbody>

    </table>

  </form>

</div>