<section class="footer_banner d-none d-none d-sm-block col-sm-12 d-lg-none" id="xs-contact">

  <!-- 
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">POUR LES DERNIÈRES NOUVELLES &amp; MISES À JOUR</p>
    <div class="button">SOUSCRIRE</div>
  -->

  <div class="button">
    <a href="/main#medium-header">
      haut de page
    </a>
  </div>

</section>

<footer class="copyright d-none d-none d-sm-block col-sm-12 d-lg-none">
    <strong>&copy; 2015 - Light Theme</strong> 
</footer>