/* marche pas ! */
/*
#mapDiv {
    height: 600px;
    width: 100%;
}   
*/

.myfrugalmap {
    height: 600px;
    width: 100%;
}


// test : pb : className
// .myCSSClass {
//     background: green;
//     border: 2px solid red;
//   }
//   .leaflet-tooltip-left.myCSSClass::before {
//     border-left-color: red;
//   }
//   .leaflet-tooltip-right.myCSSClass::before {
//     border-right-color: red;
//   }


// .myfrugalmap .leaflet-tooltip-right{
//     color: green;
// }
// .myfrugalmap .leaflet-tooltip {
//     color: green;
// }

/* .leaflet-tooltip {
    background-color: none;
} */

/* marche pas ! */
// .labelstyle { /* tooltips style */
//     /* all: revert; */
//     color: green;
//     background: none;
// /*
//     font-size:14px;
//     font-weight: 700;
//        fillColor: none;
//        fillOpacity: 0;
//     background-color: none;
//     border-color: none;
//     background: none;
//     border: none;
//     box-shadow: none;
//     margin: 0px;
//     cursor: none;
//     direction: 'center';
//     interactive: false;
//     fill: false; 
//     */
// } 



// .leaflet-tooltip-left.labelstyle::before {
//     border-left-color: cyan;
//     color: green;
// }
// .leaflet-tooltip-right::before {
//     border-right-color: cyan;
//     color: green;
// }




/* marche pas ! */
// .labelstyle .leaflet-tooltip-content-wrapper {
//     background:#2c3e50;
//     color:#fff;
//     font-size:16px;
//     line-height:24px;
//     border-radius: 0px;
// }
// .labelstyle .leaflet-tooltip-content-wrapper a {
//     color:rgba(255,255,255,0.1);
// }
// .labelstyle .leaflet-tooltip-tip-container {
// width:30px;
// height:15px;
// }
// .labelstyle .leaflet-tooltip-tip {
//     background: transparent;
//     border: none;
//     box-shadow: none;
// }

// .legend { // test : marche pas
//     line-height: 18px;
//     color: red;
// }

/*
.mapdatas {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
*/


