<div>
  <h2 class="logo">Requêtes (Test Reactive Form)</h2>
</div>

<div class="gallery">
  <app-search-editor></app-search-editor>
</div>

<div>
  <h1 class="stats">TYPE DE GRAPHIQUE</h1>
  <h4 class="stats"><input type="checkbox" class="button" name="landing"><br>Tableau</h4>
  <h4 class="stats"><input type="checkbox" class="button" name="landing"><br>Graphique</h4>
  <h4 class="stats"><input type="checkbox" class="button" name="quota"><br>Carte</h4>
</div>

<h1 class="stats">TABLEAU</h1>
<app-posts></app-posts>
<h1 class="stats">GRAPHIQUE</h1>
<app-linechart></app-linechart>
<router-outlet></router-outlet>
<h1 class="stats">CARTE</h1>