h1 { /* test CSS */
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;}

table, th, td /* TEST IMPORT json */
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}

/* CSS extrait de "style.css" : */

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	/* font-weight: bold; */
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #8b94aa;
/*	background-color: #d9d9d9;	*/

	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
	font-weight: bold;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFF;
}

.logo {
	color: orangered;
/*	font-weight: bold; */
	font-size: 30px;
	text-align: center;
	width: 100%;
	/*float: left;*/
	margin-top: 25px;
	margin-left: 200px;
	letter-spacing: 4px;
}
.logo2 {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 30%;
	/*float: left;*/
	margin-top: 25px;
	margin-left: 110px;
	letter-spacing: 4px;
}

/* Stats Gallery */

.stats {
	color: #043745;
	font-weight: bold;
	margin-bottom: 5px;
}



/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.text_column {
		width: 100%;
	}
	.thumbnail {
		width: 50%;
	}
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {	
		color: orangered;
		/*	color: #fff;*/
		/* font-weight: bold; */
		text-align: undefined;
		width: 100%;
		/*float: left;*/
		margin-top: 25px;
		margin-left: 110px;
		letter-spacing: 4px;
	/*	width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 30px;
		color: #043745;*/
	}
	.thumbnail {
		width: 100%;
	}
	.thumbnail {
		width: 50%;
	}
	
	/* Stats Gallery */

	.stats {
		color: #043745;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}

	/* Stats Gallery */
	.stats {
		color: #043745;
		font-weight: bold;
		margin-bottom: 5px;
	}
}