<div class="form">

  <h1 class="stats">CARTE (Leaflet)</h1>

  <form [formGroup]="searchForm"> <!-- (ngSubmit)="onSubmit(searchForm)" -->

      <div class="thumbnail">
          <div *ngFor="let date of date.controls; let i=index">
              <mat-form-field>
                  <mat-select placeholder="Choisir une date" [formControl]="date"> <!--  multiple -->
                  <!--
                      <mat-select-trigger>
                          {{date.value ? date.value[0] : ''}}
                          <span *ngIf="date.value?.length > 1" class="example-additional-selection">
                              ({{date.value.length}} {{'dates'}})
                          </span>
                      </mat-select-trigger>
                  -->        
                      <mat-option *ngFor="let fish of date$" [value]="fish.date" (click)="onSelect()">
                      {{fish.date | date: 'dd/MM/yyyy'}} <!-- ATTENTION : PIPE EN CONFLIT POSSIBLE AVEC SATURN DATEPICKER -->
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

    <!--
      <div class="thumbnail">
          <div>
              <mat-form-field>
              <input matInput placeholder="Choose a date" [satDatepicker]="picker" [formControl]="date">
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              <sat-datepicker [rangeMode]="false" [closeAfterSelection]="true" startView="year" touchUi #picker>
              </sat-datepicker>
              </mat-form-field>
          </div>
      </div> 
    -->

      <div class="thumbnail">
          <div *ngFor="let nameSp of nameSp.controls; let i=index">
              <mat-form-field>        
                  <mat-select placeholder="Espèce" [formControl]="nameSp"> <!-- multiple -->
                      <mat-option *ngFor="let fish of nameSp$; let i = index" [value]="fish.name_specie" (click)="onSelect()">{{fish.name_specie}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

  <!--
      <div class="thumbnail">
          <div *ngFor="let superZ of superZ.controls; let i=index">
              <mat-form-field>
              <mat-select placeholder="Super-Zone" [formControl]="superZ" multiple>
                  <mat-select-trigger>
                      {{superZ.value ? superZ.value[0] : ''}}
                      <span *ngIf="superZ.value?.length > 1" class="example-additional-selection">
                      ({{superZ.value.length}} {{'super-zones'}})
                      </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let fish of superZone$" [value]="fish.super_zone">
                  {{fish.super_zone}}
                  </mat-option>
              </mat-select>
              </mat-form-field>
          </div>
      </div>
  -->

      <div class="thumbnail">
          <div *ngFor="let zone of zone.controls; let i=index">
              <mat-form-field>
              <mat-select placeholder="Zone" [formControl]="zone"><!--  multiple -->
          <!--
              <mat-select-trigger>
                  {{zone.value ? zone.value[0] : ''}}
                  <span *ngIf="zone.value?.length > 1" class="example-additional-selection">
                      ({{zone.value.length}} {{'zones'}})
                  </span>
              </mat-select-trigger>
          -->
                  <mat-option *ngFor="let fish of zone$" [value]="fish.zone" (click)="onSelect()">
                      {{fish.zone}}
                  </mat-option>
              </mat-select>
              </mat-form-field>
          </div>
      </div>

  </form>

</div>



<div class="submit">

  <br>

  <!-- 
      <button mat-button type="submit" [disabled]="searchForm.invalid">Rechercher</button>
  -->
  <button mat-button [disabled]="searchForm.invalid" class="button" (click)="onZonesLabels()">Résultats</button>
  <button mat-button class="button" (click)="onReset()">Données générales</button>

</div>

<br>

<div class="map_container">

  <!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->
  <div #mapDiv class="myfrugalmap">
  </div>

</div>
