.row {
    margin: auto;
}
/* Create two equal columns that floats next to each other */ /*cf : w3schools columns */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;   /* Should be removed. Only for demonstration */
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */ /* cf : https://www.w3schools.com/howto/howto_css_three_columns.asp  */


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} 
