<!--p>
    linechart works !
</p-->
  
<br>
<!---->
<div class="row" style="width: 95%;">
    <div class="column" style="background-color:rgb(241, 241, 241);">
        <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"      
            (chartClick)="onChartClick($event)">
        </canvas> <!-- chartData = axe des Y, chartLabels = Axe des X -->
    </div>
    <!--    div class="column" style="background-color:rgb(255, 213, 213);">
        <canvas
            baseChart
            [chartType]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"      
            (chartClick)="onChartClick($event)">
        </canvas    --> <!-- "chartData" = axe des Y, chartLabels = Axe des X -->
    <!--    /div    -->
    <!--    div class="column" style="background-color:rgb(255, 213, 213);">
        <canvas
            baseChart
            [chartType]="'radar'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"      
            (chartClick)="onChartClick($event)">
        </canvas    --> <!-- "chartData" = axe des Y, chartLabels = Axe des X -->
    <!--    /div    -->

</div>
