 
<div class="row">

  <table class="table table-bordered table-light">
    <thead>        
      <th scope="col">Date</th>
      <th scope="col">Specie</th>
      <th scope="col">Super Zone</th>
      <th scope="col">Zone</th>
      <th scope="col">Weight</th>
      <th scope="col">Quota</th>
    </thead>
    <tbody *ngFor="let post of posts">
        <tr>  
            <th scope="col"></th>
        </tr>
        <tr>       
          <td>{{ post.date }}</td> 
          <td>{{ post.name_specie }}</td>
          <td>{{ post.super_zone }}</td>
          <td>{{ post.zone }}</td>
          <td>{{ post.value_landing }}</td>
          <td>{{ post.value_quota }}</td>
        </tr>  
    </tbody>
  </table>

</div>
