<div class="inscription-container">


  <form [formGroup]="inscriptionForm">

    <h1>Inscription</h1>

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">

      <div class="col align-self-center">
        
        <mat-form-field (click)="ngOnChanges();" id="formInscription">

          <mat-label for="login">Login</mat-label>
                      
          <input matInput type="text" placeholder="Login" [formControl]="login" formControlName="login" aria-label="Number" (keyup.enter)="onPreUpdate();" [matAutocomplete]="autoLogin" #userLogin required>

          <mat-autocomplete #autoLogin="matAutocomplete">

            <mat-option *ngFor="let login of loginFilteredOptions | async" [value]="login" (click)="onLoginSelect(login)">
              <span><button class="delete" title="delete user by login" (click)="onPreDelete(login)">
                <svg class="bi bi-x-circle" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"></path>
                  <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z" clip-rule="evenodd"></path>
                  <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z" clip-rule="evenodd"></path>
                </svg>
              </button></span><span>{{ login }}</span>
            </mat-option>

          </mat-autocomplete>
          
          <mat-error *ngIf="login.invalid">Saisir un Login</mat-error>

        </mat-form-field>

        <hr />
        
        <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
          <div *ngIf="login.errors.required">
              Le login est requis.
          </div>
          <div *ngIf="login.errors.minlength">
              le login doit être d'au moins 4 caractères.
          </div>
        </div>

      </div>

      
      <div class="col align-self-center">
        
        <mat-form-field (click)="ngOnChanges();"  id="formInscription">

          <mat-label for="mail">Mail</mat-label>
                    
          <input matInput type="text" placeholder="Mail" [formControl]="mail" formControlName="mail" aria-label="Number" [matAutocomplete]="autoMail" #userMail required>

          <mat-autocomplete #autoMail="matAutocomplete">
            <mat-option *ngFor="let mail of mailFilteredOptions | async" [value]="mail" (click)="onMailSelect(mail)">{{ mail }}</mat-option>
          </mat-autocomplete>
          
          <mat-error *ngIf="mail.invalid">Saisir un Mail</mat-error>

        </mat-form-field>

        <hr />
        
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
          <div *ngIf="mail.errors.required">
              Le mail est requis.
          </div>
          <div *ngIf="mail.errors.email">
            le mail doit être au bon format.
          </div>
        </div>

      </div>


    </div>

    <br /><br />


    <div class="submit">
      
      <span><button *ngIf="showPreUpdateUserButton" type="submit" (click)="onPreUpdate();" class="btn btn-warning" [disabled]="inscriptionForm.invalid">Mettre à jour le membre</button></span>

      <span><button *ngIf="showUpdateUserButton" type="submit" (click)="onUpdate();" class="btn btn-success" [disabled]="inscriptionForm.invalid">Confirmer la modification</button></span>

      <span><button *ngIf="showUserInscriptionButton" type="submit" (click)="onInscriptionSubmit(userLogin.value, userMail.value); userLogin.value=''; userMail.value='';" class="btn btn-primary" [disabled]="inscriptionForm.invalid">Inscrire un nouveau membre</button></span>
      
      <span><button *ngIf="showCancelButton" type="submit" (click)="ngOnDestroy();" class="btn btn-dark">Annuler</button></span>

    </div>

  </form>

  <app-members-list></app-members-list>

</div>