<!-- HEADER VERSION 1 (GRANDS FORMATS: LG, XL) -->
<header id="header" class ="header d-none d-lg-block col-lg-12"><!-- class ="row" -->

  <section class="wrapper" id="wrapper">


    <div class="row">
  
      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-7">
            <h2 class="main_title_big">DATA.VIZ</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 offset-lg-6 align-self-end">
            <h2 class="main_title_little">fish</h2>
          </div>
        </div>

        <div class="row">
          <div class="offset-lg-1 col-lg-9 align-self-center">
            <p class="tagline">Promotion and communication of fishing datas</p>
          </div>
        </div>
    
        <div class="row">
          <nav class="header_menu">
            <ul class="list_menu">
              <li><a class="nav-link" href="/main#fishing-data">STATISTIQUES DE PÊCHE</a></li>       
              <!-- <li><a href="#news">NEWS</a></li> -->
              <li><a class="nav-link" href="/main#about">A PROPOS</a></li>
              <!-- <li><a href="#contact">CONTACT</a></li>  -->
            </ul>
          </nav>
        </div>

      </div>


      <div class="col-lg-3 align-self-center">
        <h4 class="main_logo">FISHING STATISTICS</h4>
      </div>

    </div>


  </section>

</header>