/* You can add global styles to this file, and also import other style files */


@charset "UTF-8";
/* Body */
.grandimg{
	width:100%;
	height:80%;
	position: relative;
}

body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	
}

/* column */

* {
    box-sizing: border-box;
}

.flex-container1 {
	display: flex;
	justify-content: auto;
}
.flex-container2 {
	display: flex;
	justify-content: space-between;
}
.flex-container2 > div {
	background-color: #f1f1f1;
	width: 100%;
	margin: 1px;
	text-align: center;
	line-height: auto;
	font-size: 30px;
}

/*    .row {
        display: flex;
    }
    
    .column {
        flex: 100%;
    }*/

/*    .column33 {
        float: none;
        width: 20%;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
/*    }
    .column {
        float: left;
        width: 70%;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
/*    }

    .left {
        width: 70%
    }
    .right {
        width: 30%
    }*/



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*height: 1000px;*/
	background-color: #d9d9d9;
	
}
/* Navigation */
header {
	width: 100%;
	height: 100%;
	
}
.descriptionLeft {
	position: relative;
	margin-top: 120px;
	margin-left: 80px;
	margin-bottom: 25px;
	box-sizing: 100%;
}

.logo {
	color: #043745;	
	font-weight: bold;
	font-size: 30px;
	text-align: undefined;
	width: 20%;
	/*float: left;*/
	margin-top: 25px;
	margin-left: 200px;
	letter-spacing: 4px;
}
.logo2 {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 20%;
	/*float: left;*/
	margin-top: 25px;
	margin-left: 110px;
	letter-spacing: 4px;
}
.site-logo{
	position:relative;
	display:block;
	float:left;
	width: 150px;
	margin-top: 15px;
	margin-left: 25px;
}
nav {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: left;
}
nav ul li {
	float: left;
	color: #111111;
	font-size: 16px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #52BAD5;
	text-decoration: none;
	font-size: 18px;
}
ul li:hover a {
	color: #FFF;
}
.hero_header {
    color: orangered;
    font-weight: bold;
	text-align: left;
	font-size: 40px;
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 80px;
	margin-bottom: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-image: url(../images/SKNbusiness.png);
	background-repeat: no-repeat;
	background-size: 1124px 484px;
	border-bottom: 1px solid #2C9AB7;
	padding-top: 15px;
	padding-bottom: 130px;
}
.light {
	font-weight: bold;
	color: #717070;
	font-size: 30px;

}
.tagline {
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 80%;
	text-align: justify;
	font-weight: lighter;
	line-height:20px;
	float: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	color: #FFF;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #043745;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: orangered;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #8b94aa;
/*	background-color: #d9d9d9;	*/

	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFF;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
/*	background-image: url( ../images/Dataviz.fish.jpg);*/
	height: 650px;
	background-attachment: fixed;
/*	background-size: cover;	*/
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 45%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #FFF;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 600px;
	max-height: 400px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0px;
/*	background-image: url(../images/pattern.png);   */
	background-repeat: repeat;
}
.footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
/*header nav ul {
}*/
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {	
	color: #043745;	
/*	color: #fff;*/
	font-weight: bold;
	text-align: undefined;
	width: 20%;
	/*float: left;*/
	margin-top: 25px;
	margin-left: 110px;
	letter-spacing: 4px;
/*	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	color: #043745;*/
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
