<!-- VERSION 1: lg -> xl (Bouton): -->
<div class="d-none d-lg-block d-lg-block col-lg-12">
    <a href="" data-toggle="modal" data-target="#mapZonesModale" (click)="onZonesLabels()"><img id="formsubmit" src ="../../../../assets/img/map_link.png" width="400" height="200" title="Fishing Map" alt="Fishing Map"></a>
</div>

<!-- VERSION 2: md (Bouton): -->
<div class="d-none d-md-block col-md-12 d-lg-none">
    <a href="" data-toggle="modal" data-target="#mapZonesModale" (click)="onZonesLabels()"><img id="formsubmit" src ="../../../../assets/img/map_link.png" width="350" height="175" title="Fishing Map" alt="Fishing Map"></a>
</div>

<!-- VERSION 3: sm (Bouton): -->
<div class="d-none d-sm-block col-sm-12 d-md-none">
    <a href="" data-toggle="modal" data-target="#mapZonesModale" (click)="onZonesLabels()"><img id="formsubmit" src ="../../../../assets/img/map_link.png" width="250" height="125" title="Fishing Map" alt="Fishing Map"></a>
</div>

<!-- VERSION 4: xs (Bouton): -->
<div class="col-12 d-sm-none">
    <a href="" data-toggle="modal" data-target="#mapZonesModale" (click)="onZonesLabels()"><img id="formsubmit" src ="../../../../assets/img/map_link.png" width="150" height="80" title="Fishing Map" alt="Fishing Map"></a>
</div>


<!-- *** NOTE: MODALE DIRECTEMENT DANS 'INDEX.HTML', SINON PROBLÈME D'AFFICHAGE -->